@model Mvc_Schedule.Models.DataModels.ModelViews.FacultCreate



<div id="page-title">Новый факультет</div>
@HTML.ValidatorScriptBlock()

<style>
	#element-additor {
		margin: 10px 0;
	}
	#element-additor a {
		display: inline-block;
		padding: 3px 9px;
		text-decoration: none;
		font-size: 16px;
		background: #333;
		color: #fff;
		margin: 3px 5px;
	}
		#element-additor a:hover {
			background: #ccc;
			color: #333;
		}
</style>


<div id="selector-block">

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    <div class="editor-label">
        @Html.LabelFor(model => model.FacultInstance.Name)
    </div>
	<div class="editor-field">
		@Html.EditorFor(model => model.FacultInstance.Name)
		@Html.ValidationMessageFor(model => model.FacultInstance.Name)
	</div>
		
	<div id="element-fields">
	@if (Model != null && Model.StudGroupsNames.Any())
	{
		for (var i = 0; i < Model.StudGroupsNames.Count(); i++)
		{
			<div class="element" id="element_@(i)">
			<div class="editor-label">
				@Html.LabelFor(model => model.StudGroupsNames[i].Name)
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.StudGroupsNames[i].Name)
				@Html.ValidationMessageFor(model => model.StudGroupsNames[i].Name)
			</div>
			</div>
		}
	}
	</div>
	
	<p id="element-additor">
		<a href="javascript: void(0)" id="add_element">Добавить Группу</a>
		<a href="javascript: void(0)" id="remove_element">Убрать Группу</a>
	</p>
		
	<script>
		var countOfelements = 0;
		var last_element = $(".element").last().attr("id");
		if (last_element != null) {
			countOfelements = last_element.substring(8);
			countOfelements++;
		}
		$("#remove_element").hide();
			
		$("#add_element").click(function () {
			if (countOfelements == 0) $("#remove_element").show();
			var html = '<div class="element" id="element_' + countOfelements + '" ><div class="editor-label"> \
				<label for="StudGroupsNames_' + countOfelements + '__Name">Название группы ' + (countOfelements + 1) + '</label> \
				</div>\
				<div class="editor-field"> \
				<input class="text-box single-line" data-val="true" data-val-required="Требуется поле Название группы." id="StudGroupsNames_' + countOfelements + '__Name" name="StudGroupsNames[' + countOfelements + '].Name" type="text" value="" /> \
				<span class="field-validation-valid" data-valmsg-for="StudGroupsNames[' + countOfelements + '].Name" data-valmsg-replace="true"></span> \
				</div> \
				</div>';
			countOfelements++;
			$("#element-fields").append(html);
		});
		$("#remove_element").click(function () {
			if (countOfelements > 0) {
				countOfelements--;
				$("#element_" + countOfelements).remove();
				if (countOfelements == 0) $(this).hide();
			}
		});
	</script>

	<p>
        <input type="submit" value="Добавить" />
    </p>
}
</div>