@model Mvc_Schedule.Models.DataModels.ModelViews.ScheduleTableIndex


<link href="@Url.Content("~/Content/style_schedule.css")" rel="stylesheet" type="text/css" />



<div id="switchers">
	@(Model.IsOddWeek ? Html.ActionLink(" ", "Index", new {id = Model.Group.GroupId, week = "2"}, new {id = "weekSwitcher", @class = "select"}) : Html.ActionLink(" ", "Index", new {id = Model.Group.GroupId, week = "1"}, new {id = "weekSwitcher"}))
	<a id="wrapSwitcher" href="javascript:void(0)"></a>
</div>

<div id="page-title">Расписание группы @Model.Group.Name</div>
<div id="selector-block" class="list">
	@foreach (var weekday in Model.Weekdays)
 {
	<div class="weekday">
		<p class="name">@weekday.Name</p>
		<ul>
		@if (Model.Schedule.Any(x => x.WeekdayId == weekday.WeekdayId))
		{
		foreach (var lesson in Model.Lessons)
		{
		if (Model.Schedule.Any(x => x.LessonId == lesson.LessonId))
		{
		<li class="lesson">
			<p class="time">@lesson.TimeString</p>
			<div class="sublesson">
				@foreach (var sublesson in Model.Schedule.Where(x => x.LessonId == lesson.LessonId && x.WeekdayId == weekday.WeekdayId))
				{
				<p class="auditory">@sublesson.Auditory</p>
				<p>@sublesson.Subject.Name</p>
				<p class="lectors">@sublesson.LectorName</p>
				<div class="ending"></div>
				}
			</div>
			<div class="ending"></div>
		</li>
		}
		}
		}
	   else
	   {
			<li class="lesson">
				<p>Выходной</p>
			</li>
	   }
		</ul>
	</div>
	}
</div>


<script>
	$(document).ready(function () {
		$("#wrapSwitcher").click(function () {
			var switcher = $(this);
			$("#selector-block").fadeOut(function () {
				if (switcher.hasClass("select")) {
					switcher.removeClass("select");
					$(this).attr("class", "list");
				} else {
					switcher.addClass("select");
					$(this).attr("class", "wrap");
				}
			}).fadeIn();
		});
	});
</script>
